@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #0f0122;
}

.navbar-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin: 0 8%;
}


.language {
    position: relative;
    width: 110px;
}

.language-selected {
    margin-left: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.language-selected:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(/components/logo-brasil.png);
    background-size: contain;
    background-repeat: 10px;
}

.language ul {
    position: absolute;
    border-radius: 0px 0px 10px 10px;
    border-right: 1px solid #4400ff;
    border-bottom: 1px solid #4400ff;
    border-left: 1px solid #4400ff;
    background: linear-gradient(0deg, #180039 32.29%, #000 93.41%);
    padding-top: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    display: n;
}

.language li a {
    list-style: none;
    text-decoration: none;
    display: block;
    color: #FFF;
    font-family: Kanit;
    font-size: 14px;
    font-weight: 275;
    padding: 5px;
}

.language a:hover::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.language a.BR:hover {
    background-color: #4400ff;
}

.language a.US.english:hover {
    background-color: #4400ff;
    border-radius: 0px 0px 8px 8px;
}

.language a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;

}

a.BR::before {
    background-image: url(/components/logo-brasil.png);
}

a.US::before {
    background-image: url(/components/logo-eua.png);
}

.logo {
    width: 72.547px;
    height: 80px;
}

.navbar-text {
    position: relative;
}

.navbar-text::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    background: transparent;
    box-shadow: 0px 1px 6.2px 0px #4400ff, 0px -1px 1px 0px #2e00ad inset;
    left: 0%;
    bottom: -3px;
    transition: all 0.5s ease-in-out;
    visibility: hidden;
}

.navbar-text:hover::after {
    width: 100%;
    left: 0px;
    visibility: visible;
    background: #4400ff;
    box-shadow: 0px 1px 6.2px 0px #2e00ad, 0px -1px 1px 0px #4400ff inset,
        0px 0px 10px 2px #4400ff;
}

.navbar-list {
    display: flex;
    list-style: none;
    gap: 58px;
}

.navbar-list a {
    color: #FFF;
    text-align: center;
    font-family: Kanit;
    font-size: 16px;
    font-weight: 275;
    text-decoration: none;
}

footer {
    color: #efe1ff;
    text-align: center;
    font-family: Kanit;
    font-size: 13px;
    font-weight: 250;
}

footer a {
    text-decoration: none;
    color: #c1acd4;
    font-family: Kanit;
    font-size: 15px;
    font-weight: 300;
}

footer a:hover {
    color: rgb(219, 192, 255);
    text-decoration: none;
}

/* estilização scrollbar */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: #4400ff;
    border-radius: 10px;
}

.sobre-mim-name {
    color: rgb(68, 0, 255);
    font-family: Kanit;
    font-size: 32px;
    font-weight: 300;
    line-height: 35px;
}

#name {
    font-size: 40px;
    font-weight: 500;
}

.sobre-mim-content {
    display: flex;
}

.sobre-mim-content img {
    width: 400px;
}

.sobre-mim-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 12%;
}

.sobre-mim-text #title {
    color: #4400ff;
    font-family: Kanit;
    font-size: 40px;
    font-weight: 400;
    padding: 14px 0px;
}

.sobre-mim-text #text {
    color: #FFF;
    text-align: justify;
    font-family: Advent Pro;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2.6px;
}

.habilidades-header {
    display: flex;
    align-items: baseline;
    gap: 154px;
    justify-content: space-between;
    margin: 0% 8%;
}

.habilidades-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.habilidades-container #title {
    color: #4400ff;
    font-family: Kanit;
    font-size: 40px;
    font-weight: 400;
}

#text-1 {
    color: #FFF;
    text-align: justify;
    font-family: Advent Pro;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2.6px;
    width: 524px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.box {
    position: relative;
    background: #0E0021;
    box-shadow: 0px 0px 9px 0px #4400ff;
    width: 130px;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.box img {
    width: 80px;
}

.box p {
    color: #FFF;
    font-family: Advent Pro;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2.0px;
}

.projetos-header {
    background-color: #130427;
}

.projetos-header #title {
    color: rgb(68, 0, 255);
    font-family: Kanit;
    font-size: 40px;
    font-weight: 400;
    padding: 14px 0px;
}

.projetos-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.project {
    position: relative;
    width: 300px;
}

.project-image {
    width: 322px;
    height: 312px;
    box-shadow: 0px 0px 9px 0px rgb(68, 0, 255);
}

.project-details {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
    width: 322px;
    height: 312px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    z-index: 1;
}

.project-details h3 {
    color: #FFF;
    font-family: Kanit;
    font-size: 18px;
    font-weight: 600;
}

.project-details p {
    color: #FFF;
    font-family: Kanit;
    font-size: 12px;
    font-weight: 300;
}

.project-details a {
    color: rgb(68, 0, 255);
    text-align: center;
    font-feature-settings: 'liga' off;
    font-family: Kanit;
    font-size: 18px;
    font-weight: 800;
}

.project:hover .project-details {
    opacity: 1;
}

.read-more {
    display: block;
    margin-top: 10px;
    text-decoration: none;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.popup-content {
    background-color: #fff;
    padding: 200px;
    text-align: center;
}

.close-popup {
    display: block;
    margin-top: 10px;
    color: #00f;
    text-decoration: none;
}

.contatos-container img {
    aspect-ratio: 1;
    width: 40px;
    height: 40px;
}

/* 
.contatos-container {
    display: flex;
    flex-direction: row;
    align-items: center;
} */

.contatos-container {
    position: relative;
}

#mensagemCard {
    position: fixed;
    display: none;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0d0424;
    border: 2px solid rgb(68, 0, 255);
    padding: 7px;
    color: white;
    font-family: kanit;
    font-size: 15px;
    font-weight: 300;
    z-index: 1;
    transition: ease-in-out 1.5s;
    border-radius: 5px;
}

.contatos-content {
    display: flex;
    gap: 30px;
    padding-top: 25px;
    align-items: center;
    justify-content: center;
}

#sobre-mim {
    padding: 80px 0px;
    background-color: #130427;
}

#habilidades {
    padding: 150px 0px;
}

#projetos {
    padding: 120px 0px;
}

#contatos {
    padding: 150px 0px;
}

.grid-layout {
    /* max-width: 1140px; */
    margin: 0% 8%;
}

.contatos-test {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#emailImage {
    height: 35px;
}

@media(max-width:1200px) {
    .box-container {
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }

    .box {
        width: 100px;
    }

    .box img {
        width: 80px;
    }

    .sobre-mim-content img {
        width: 350px;
    }

    .contatos-container img {
        aspect-ratio: 1;
        width: 40px;
        height: 40px;
    }

    #text-1 {
        width: auto;
    }

    .habilidades-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }


    .habilidades-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projetos-content {
        justify-content: space-evenly;
        gap: 55px;
    }
}


@media(max-width:780px) {
    .box {
        width: 95px;
    }

    .projetos-header #title {
        text-align: center;
    }

    .sobre-mim-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sobre-mim-name {
        text-align: center;
    }

    .sobre-mim-text {
        display: flex;
        margin: 0 2% 0;
        flex-direction: column;
        align-items: center;
    }

    .sobre-mim-content img {
        width: 300px;
    }


    .box-container {
        padding-top: 20px;
    }

    .contatos-container img {
        aspect-ratio: 1;
        width: 35px;
        height: 35px;
    }

    .projetos-content {
        gap: 15px;
    }

    .project-details {
        width: 282px;
        height: 292px;

    }

    .project-image {
        width: 282px;
        height: 292px;
        box-shadow: 0px 0px 9px 0px rgb(68, 0, 255);
    }
}

@media(max-width:693px) {
    .navbar-list {
        gap: 30px;
    }

    .logo {
        width: 62.547px;
        height: 70px;
        aspect-ratio: 1;
    }

    .habilidades-header {
        display: block;
        margin: 0% 10%;
    }

    .box-container {
        padding-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
    }


    .box {
        width: 70px;
    }

    .box img {
        width: 70px;
    }

    .sobre-mim-content img {
        width: 300px;
    }

    .contatos-container img {
        aspect-ratio: 1;
        width: 40px;
        height: 40px;
    }

    #text-1 {
        width: auto;
    }

    .habilidades-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projetos-content {
        justify-content: space-evenly;
        gap: 55px;
    }
}

@media(max-width:425px) {
    .navbar-list {
        gap: 20px;
    }

    .logo {
        width: 52.547px;
        height: 60px;
        aspect-ratio: 1;
    }

    .habilidades-header {
        display: block;
        margin: 0% 10%;
    }

    .box-container {
        padding-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .box {
        width: 60px;
    }

    .box img {
        width: 50px;
    }

    .sobre-mim-content img {
        width: 250px;
    }

    .contatos-container img {
        aspect-ratio: 1;
        width: 30px;
        height: 30px;
    }

    #emailImage {
        height: 28px;
    }

    #habilidades {
        padding: 100px 0px;
    }

    .sobre-mim-text #title {
        font-size: 30px;
    }

    .projetos-header #title {
        font-size: 30px;
    }

    .habilidades-container #title {
        font-size: 30px;
    }
}

@media(max-width:375px) {
    .box {
        width: 50px;
    }

    .box img {
        width: 45px;
    }

    .box p {
        font-size: 10px;
    }
}

@media(max-width:320px) {
    .box {
        width: 45px;
    }

    .box img {
        width: 40px;
    }

    .box p {
        font-size: 8px;
    }

    .box img {
        width: 40px;
    }
}