@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;600;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(14, 0, 33, 1);
}

.navbar-group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: black;
}

.navbar-group img {
    margin-right: 286px;
}

.language {
    position: relative;
    width: 120px;
    margin-left: 40px;
    font-weight: bold;
}

.language-selected {
    display: flex;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
}

.language-selected:before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(/components/logo-brasil.png);
    background-size: contain;
    background-repeat: 10px;
}

.language ul {
    position: absolute;
    width: 140px;
    border-radius: 0px 0px 10px 10px;
    border-right: 1px solid rgba(73, 1, 165, 1.00);
    border-bottom: 1px solid rgba(73, 1, 165, 1.00);
    border-left: 1px solid rgba(73, 1, 165, 1.00);
    background: linear-gradient(0deg, #180039 32.29%, #000 93.41%);
    padding-top: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    display: n;
}

.language ul li {
    list-style: none;
}

.language ul li a {
    text-decoration: none;
    display: block;
    color: #FFF;
    text-align: center;
    font-family: Kanit;
    font-size: 14px;
    font-weight: 275;
    text-transform: capitalize;
    padding-top: 5px 10px;
}

.language ul li a.US:hover::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 0px 0px 10px 10px; /* Aplica o border-radius ao contêiner do pseudoelemento */
}
.language ul li:hover {

    background-color: rgba(73, 1, 165, 1);
}






.language ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
}

a.BR::before {
    background-image: url(/components/logo-brasil.png);
}

a.US::before {
    background-image: url(/components/logo-eua.avif);
}

.logo {
    width: 73px;
    height: 80px;
}

.navbar-text {
    position: relative;
}

.navbar-text::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    background: transparent;
    box-shadow: 0px 1px 6.2px 0px #8B55FF, 0px -1px 1px 0px rgba(189, 0, 255, 0.28) inset;
    left: 0%;
    bottom: -3px;
    transition: all 0.5s ease-in-out;
    visibility: hidden;
}

.navbar-text:hover::after {
    width: 100%;
    left: 0px;
    visibility: visible;
    background: #8B55FF;
    box-shadow: 0px 1px 6.2px 0px #8B55FF, 0px -1px 1px 0px rgba(189, 0, 255, 0.28) inset,
        0px 0px 10px 2px #8B55FF;
}

.navbar-list {
    list-style: none;
    display: flex;
    gap: 79px;
}

.navbar-list a {
    color: #FFF;
    text-align: center;
    font-family: Kanit;
    font-size: 16px;
    font-weight: 275;
    text-decoration: none;
}

footer {
    color: #d9d9d9;
    text-align: center;
    font-family: Kanit;
    font-size: 13px;
    font-weight: 250;
}

footer a {
    text-decoration: none;
    color: #FFF;
    font-family: Kanit;
    font-size: 15px;
    font-weight: 300;
}

footer a:hover {
    color: rgb(219, 192, 255);
    text-decoration: none;
}